@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: white;
  height: 100vh;
  color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

header .logo {
  border: 2px solid black;
  border-radius: 5em;
  height: 4.2em;
  width: 4.2em;
  margin: 0 1em 0 1em;
}

header .logo h1 {
  font-size: 1.1em;
  text-align: center;
  line-height: 1.2em;
  margin-top: 0.55em;
}

header .logo h1 span {
  text-align: center;
  color: #d57d1f;
}

header .logo h1 span::before {
  content: "\a";
  white-space: pre;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header nav ul li {
  padding-left: 1em;
}

header nav ul #meals {
  margin: 0 1em 0 -3.5em;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.1em;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 3px solid black;
}

footer h2 {
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: 500;
}

.home {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-content: center;
  margin: 10em auto;
  width: 20em;
}

.meal {
  display: grid;
  grid-template-rows: auto 20% 25%;
  margin: 0 0 15em 0;
  width: 20em;
  height: 15em;
}

.meal .div-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20em;
}

.meal .div-like p {
  text-align: center;
  margin-left: 4em;
  font-size: 1.2em;
  font-weight: 500;
}

.meal .div-like .fa-heart {
  margin-right: 2em;
  font-size: 1.7em;
}

.div-img {
  place-self: center;
  margin-bottom: 1em;
}

.meal img {
  width: 15em;
}

button {
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  width: 10em;
  height: 2.5em;
  font-weight: bold;
  place-self: center;
}

.random h2 {
  margin: 3em 0 -3em 0;
  font-size: 1.7em;
  text-align: center;
}

.meal-popup {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 4px solid #3e3e3e;
  overflow-y: scroll;
  height: 100%;
  z-index: 999;
  padding: 0 32px 0 32px;
}

.meal-popup-close-icon {
  font-size: 32px;
  color: black;
  position: fixed;
  top: 18px;
  right: 28px;
}

.meal-popup-div-img {
  margin: 10px 50px 10px 50px;
  text-align: center;
}

.meal-popup-add-comment-form {
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.meal-popup-add-comment-form-username {
  margin: 0 0 10px 0;
  width: 256px;
}

.meal-popup-add-comment-form-comment {
  margin: 0 0 10px 0;
  width: 256px;
}

@keyframes change-color {
  0% {
    color: red;
  }

  100% {
    color: #fff;
  }
}

.meal-popup-add-comment-form-res {
  animation-name: change-color;
  animation-duration: 5s;
  font-size: 16px;
  width: 256px;
  font-weight: 300;
  color: transparent;
  text-align: center;
}
